h1 {
  font-family: "Libre Baskerville", serif;
  color: white;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

img {
    border: 5px solid white;
}

html {
    text-align: center;
    background-color: black;
      }

#stich {
    width: 50%; 
    margin: 25%;
    }

P {
    font-family: "Libre Baskerville", serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size: medium;
    text-transform: lowercase;
}
